{% trans_default_domain 'FOSUserBundle' %}
<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
</div>
{% if error %}
    <div class="text-center text-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form class="user" action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    {% endif %}
    <div class="form-group">
        <input type="text" class="form-control form-control-user" aria-describedby="emailHelp"
               placeholder="{{ 'security.login.username'|trans }}" id="username" name="_username"
               value="{{ last_username }}" required="required" autocomplete="username"/>

    </div>
    <div class="form-group">
        <input type="password" class="form-control form-control-user"
               placeholder="{{ 'security.login.password'|trans }}" id="password" name="_password" required="required"
               autocomplete="current-password"/>

    </div>
    <div class="form-group">
        <div class="custom-control custom-checkbox small">
            <input type="checkbox" class="custom-control-input" id="remember_me" name="_remember_me" value="on"/>
            <label class="custom-control-label" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>
    </div>
    <input type="submit" class="btn btn-primary btn-user btn-block" id="_submit" name="_submit"
           value="{{ 'security.login.submit'|trans }}"/>
</form>
<hr>
<div class="text-center">
    <a class="small" href="{{ path('fos_user_resetting_request') }}">{{ 'security.login.forgot_password'|trans }}</a>
</div>
